{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider purple">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post" enctype="multipart/form-data">
                    <select>
                    {% if categories !=[] %}	
                        {% for i in categories %}
                            <option value={{i.binding}}>{{i.binding}}</option>				
                        {% endfor %}	
                    {% endif %}
                    </select>
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showCategory')}}'>
						<button class="btn btn-default delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}