{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider purple">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category.binding }}
			<figure class="creator">
				<img src="{{ creator.image }}"/>
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if books !=[] %}	
        <div class="container">
            <div class="row">
                
               
					{% for item in books | batch(3) %}
                        {% for i in item %}
						<div class="col-xs-4 col-md-2"><a href="{{url_for('showBook', category_id = category.id, book_id = i.id)}}" class="booklink"/><img src="{{i.image}}" alt="{{i.title}}" class="img-responsive book"/></a></div>
					    {% endfor %}
					<div class="{{loop.cycle('col-xs-12 shelf hidden-md hidden-lg', 'col-xs-12 shelf')}}"></div>       
					{% endfor %}
                        
			</div>
			
		</div>
	{% endif %}
{% endblock %}
